header{
    text-align: center;
    background-image: url("sodapop_banner.jpg");
    background-size: 750px contain;
    background-repeat: repeat no-repeat;
    font-size: 130%;
    background-position: center;
}

body{
    background-color: black;
    font-size: 20px;
    color: white;
    background-image: url('');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

nav{
    padding-top: 20px;
    text-align: center;
    font-size: 110%;
}

.Logo{
    border-width: 2px;
    border-style: solid;
    border-color: white;
    height:200px;
    width:200px;
}

article{
    height: 300px;
    width: 600px;
    overflow: auto;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    border-color: white;
}
